#defaultCanvas0 {
    position: absolute;
    right: 50%;
    top: 22%;
}

h1{
    position: absolute;
    color: white;
    font-size: 40px;
    right: 30%;
    top: 19%;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    background-color: rgb(205, 190, 160);
    position: absolute;
    z-index: -1;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 920px;
    padding-bottom: 545px;
    right: 27.5%;
    top: 19%;
    font-size: 0px;
}
h3{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding-right: 30%;
    left: 52.5%;
    top: 32%;

}

#button {
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    right: 42%;
    top: 70.2%;
}
    #button {
        background-color: white; 
        color: black; 
        font-size: 14px;
      }
      
      #button:hover {
        background-color: black;
        color: white;
      }


#cella {
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    right: 37%;
    top: 70.2%;
}
#cella {
    background-color: white; 
    color: black; 
    font-size: 14px;
  }
  
  #cella:hover {
    background-color: black;
    color: white;
    
  }
  #index {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2%;
    left: 3%;
    border: none;
  }